<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
  <head>
    <meta charset="UTF-8">
    <title>test1</title>
  </head>
  <body>
    <th:block layout:fragment="content">
      <table>
        <tr>
          <td>ID</td>
          <td>PW</td>
          <td>이름</td>
          <td>이메일</td>
          <td>가입일</td>
        </tr>
        
        <tr th:each="member : ${memberList}">
          <td th:text="${member.id}"></td>
          <td th:text="${member.pw}"></td>
          <td th:text="${member.name}"></td>
          <td th:text="${member.email}"></td>
          <td th:text="${member.joinDate}"></td>
        </tr> 
        <tr>
          <td></td>
        </tr>
      </table>
  </th:block>
  </body>
</html>