<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<meta charset="UTF-8">
<title>test1</title>
</head>
<body>
	<th:block layout:fragment="content">
		<section class="card shadow mb-4">
			<article class="card-header py-3 ">
				<h3 th:text="${article.title}"></h3>
				<div th:text="${article.id}"></div>
				<div class="mainBoardHeader small">
					<div>
						<span th:text="${article.parsedModifiedDate}"></span> 
						&nbsp&nbsp 조회 
						<span th:text="${article.hits}"></span>
					</div>
					<div th:if="${isAuthor}">
						<a th:href="@{/articles/update/{articleNO}(articleNO=${article.articleNO})}"
							 class="btn btn-icon-split writeButton nomalButton"> 수정</a> 
						<button type="button" id="btn-delete"
							 class="btn btn-icon-split writeButton nomalButton"> 삭제</button>
					</div>
				</div>
			</article>

			<article class="card-body">
				<div th:utext="${article.content}"></div>
			</article>
		</section>
		<section class="mainBoardHeader boardButtons">
			<article th:if="${session.member != null}">
				<span>
					<a href="/lavender/writeboard"
						class="btn btn-primary btn-icon-split writeButton">글쓰기</a> 
					<a th:href="@{/articles/write(parentNO=${article.articleNO})}" 
						 class="btn btn-icon-split writeButton nomalButton"> 답글</a>
				</span>
				<span th:if="${isAuthor}">
				<input type="hidden" th:value="${article.articleNO}" name="articleNO" id="deleteNO">
					<button type="button" 
									id="btn-delete"
							 		class="btn btn-icon-split writeButton nomalButton"
							 		> 삭제</button>
					<a th:href="@{/articles/update/{articleNO}(articleNO=${article.articleNO})}"
							 class="btn btn-icon-split writeButton nomalButton"> 수정</a> 
				</span>
			</article>
			<article>
				<a href="/lavender/mainboard"
					class="btn btn-icon-split writeButton nomalButton">목록</a> <a
					href="#" class="btn btn-icon-split writeButton nomalButton">▲Top</a>
			</article>
		</section>

	</th:block>
</body>
</html>