<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<meta charset="UTF-8">
<title>test1</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container-fluid">

			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800">게시판</h1>
			<div class="mb-4 small">
				여기 있는 모든 글은 비영리적 목적으로 쓰여지고 있습니다. 저작권적인 문제가 있을 경우 <b>y39scode@gmail.com</b>으로 연락해주세요.				
				<div>All articles are written for non-commercial purposes. 
						If you have any copyright issues, please contact us at <b>y39scode@gmail.com</b></div>
			</div>
			
			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3 mainBoardHeader">
					<h6 class="m-0 font-weight-bold text-primary">게시판 이용방법 알아보기</h6>
						<div th:if="${session.memberVO != null}">
							<a href="/lavender/writeboard" 
								 class="btn btn-primary btn-icon-split writeButton" >
								 게시판 글쓰기</a>
						</div>
						
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th id="article-title">제목</th>
									<th>작성자</th>
									<th>작성일</th>
									<th>조회</th>
									<th th:if="${session.memberVO} != null and ${session.memberVO.id}==admin">삭제</th>
								</tr>
							</thead>
							<tbody th:if="${pageLinkIdx.articlesTotalNum} == 0">
								<tr>
									<td colspan=4 >
										<div class="flexCenter">게시글이 존재하지 않습니다</div>
									</td>
								</tr>
							</tbody>
							<tbody th:if="${pageLinkIdx.articlesTotalNum} != 0">
								<tr th:each="article:${pageLinkIdx.articlesList}">
											<td>
												<span th:if="${article.level}>1"> 
													<span th:each="space:${#numbers.sequence(1, article.level-1)}">
														&nbsp;&nbsp; </span> 
												↳</span> 
												<a th:href="@{/lavender/article(articleNO=${article.articleNO})}"
													 th:text="${article.title}"></a>
											</td>
											<td>
												<a th:href="@{/lavender/mainboard(id=${article.id})}" 
													 th:text="${article.id}"></a>
											</td>
											<td th:text="${article.parsedModifiedTime}"></td>
											<td th:text="${article.hits}"></td>
											<td th:if="${session.memberVO} != null and ${session.memberVO.id}==admin">
												<a th:href="@{/lavender/deleteboard(articleNO=${article.articleNO})}">
												 	 삭제</a>
											</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<section class="flexCenter">
			<div class="mainTag" th:if="${pageLinkIdx.articlesTotalNum != 0}">
				<span th:if="${pageLinkIdx.prePage > 0}">
					<a th:href="@{/lavender/mainboard(page=${pageLinkIdx.prePage })}">
						이전 </a>
				</span>
				<span th:each="page: ${pageLinkIdx.pageIdxNumsList}">
					<a th:text="${page}" th:href="@{/lavender/mainboard(page=${page})}"></a>
				</span>
				<span th:if="${pageLinkIdx.nextPage > 0}">
					<a th:href="@{/lavender/mainboard(page=${pageLinkIdx.nextPage})}">
						다음</a>
				</span>
			</div>
		</section>
		
	</th:block>
</body>

</html>